html {
    scroll-behavior: smooth;
}

body {
    margin: 1.5px;
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-top: 1em;
	padding-bottom: 1em;
	-epub-hyphens: auto;
	-webkit-hyphens: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}	
	
.blue_back{
	background-color: #315d78;
}		

/* Стили таблиц */
table {	
	margin-top: 1.5em;
	margin-bottom: 0em;
	vertical-align: top;
	width: 100%;
	border-collapse: collapse;
} 


/* Стили списков */
li {
	margin-top: 0em;
}					

ul {
	margin-top: 0em; 
	margin-bottom: 1em; 
	text-align: justify; 
	list-style: disc; 
	padding-left: 0em; 
	margin-left: 2em;
    font-size: 90%; 
}		

ul.list_nav {
    margin-top: 0em; 
	margin-bottom: 0em; 
	list-style: none; 
	padding-left: 0em; 
	margin-left: 0em;
    font-size: 90%; 
    display: flex;
    justify-content: flex-end;
    align-items: right;
}
			
/* Классические стили текста */
.bold {
    font-weight: bold;
    color: #fc665b;
}	
	
.bold_normal {
    font-weight: bold;
    color: #000000;
}

.italic { font-style: italic;}						
				
				
.bold-italic {
	font-style: italic; 
	font-weight: bold;
}		
	

.right { text-align: right;}		
		
.center	{
	text-align: center; 
	text-indent: 0em;
}					

/* Дополнительные стили текста */	
.non {word-break: break-all;}					
p.p0 {text-indent: 0em;}				

.top {margin-top: 1em;}					
.top1 {margin-top: 0.5em;}					
.top2 {margin-top: 1.5em;}					
.s90 {font-size: 90%;}						
.upper {text-transform: uppercase;}				
.tab {white-space: pre;}

code {
    margin-top: 0em;
}

.color {
    font-size: 90%; 
    color: #000000;
    transition: .3s;
}
	
/* Стили для текста, оформленного отдельными блоками */	
.text {
	text-align: left;
	font-size: 90%; 
	text-indent: 0em;
	margin-left: 1em;
}

.contacts_text {
	text-align: left;
	font-size: 90%; 
	text-indent: 0em;
	margin-left: 1em;
    line-height: 0.7em;
}
	
/* Стили для блоков */	
* {
    box-sizing: border-box;
}

.code_text {
	text-align: left;
	font-size: 90%; 
	text-indent: 0em;
	margin-top: 0em;
    margin-bottom: 0em;
    padding: 0.5em;
    background-color: #f3c1bd;
}

.super_a {
    background-color: #e1e1e1;
    padding-left: 0.5em;
    padding-bottom: 1.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;  
    margin-bottom: 0.5em; 
    text-align: right;
    text-indent: 0em;;
}

.box {
    border-bottom: solid 8px #675b5b;
    background-color: #e1e1e1;
    padding-left: 0.2em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}	

.box_normal {
    border-bottom: solid 8px #675b5b;
    padding-left: 0.2em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}	
	
.pre {
    overflow: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #d6d0cf;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    background-color: #e1e1e1;  
    margin-bottom: 0em;
    box-sizing: border-box;
}

.info {
	text-align: right;
	font-size: 80%; 
	text-indent: 0em;
    float: right;
    margin-top: -0.3em;
}

/* Стили заголовков и подзаголовков */		
h1 {
	text-align: left;
	font-size: 160%; 
	text-indent: 0em; 
	margin-bottom: 0em; 
	margin-top: 0.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #675b5b;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
	text-align: left;
	font-size: 130%; 
	text-indent: 0em; 
	margin-bottom: 0.5em; 
	margin-top: 0.5em; 
	font-weight: bold;
    border-bottom: solid 2px #d6d0cf; 
    padding-bottom: 0.2em;
	font-family: 'Rubik Mono One', sans-serif;
	color: #fc665b;
}

h3 {
	text-align: left;
	font-size: 110%; 
	text-indent: 0em; 
	margin-bottom: 0.5em; 
	margin-top: 1.5em; 
	font-weight: bold;
    border-bottom: solid 2px #d6d0cf; 
    padding-bottom: 0.2em;
    font-style: italic;
	font-family: 'Rubik Mono One', sans-serif;
	color: #fc665b;
}	



/* Стили для картинок */		
.full_img {	
    margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	page-break-inside: avoid;
    display: block;
    position: relative;
    width: 80px;
}	

.line {
    border-bottom: solid 2px #d6d0cf; 
    padding-bottom: 0.2em;
}

img {
	max-width: 95%; 
	max-height: 95%;
}

.f_img {	
    margin-top: 0em;
	margin-bottom: 0em;
	float: left;
    width: 50px;
}	